*{

}

body{
    margin: 0;
    padding: 0;
}

#app {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

}

.content {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(255, 255, 255, 0.0);
}