*{

}

body{
    margin: 0;
    padding: 0;
    background: black;
}

h1, h2, h3, p{
    margin: 0;
    padding: 12px;
}

button{
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
    border: none;
    padding: 8px 12px;
    margin: 4px 0;
    cursor: pointer;
}

#app {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

}

.spacer{
    width: 100%;
    height: 100vh;
}

.content {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    position: relative;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

.content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../STORY-HS25/src/images/alert.png');
    background-position: center center;
    background-size: auto 20%;
    background-repeat: no-repeat;
}

.textbox{
    min-height: 20%;
    background-color: black;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2.0s ease, transform 2.0s ease;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}