*::selection{ background: #000000; color: #ffffff;}
*::-moz-selection{ background: #000000; color: #ffffff;}
*::-webkit-selection{ background: #000000; color: #ffffff;}

/* @link https://utopia.fyi/type/calculator?c=390,24,1.067,1920,84,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fs--2: clamp(1.3175rem, 0.596rem + 2.9601vw, 2.5481rem);
  --fs--1: clamp(1.4058rem, 0.5746rem + 3.41vw, 3.6667rem);
  --fs-0: clamp(1.5rem, 0.5441rem + 3.9216vw, 5.25rem);
  --fs-1: clamp(1.6005rem, 0.503rem + 4.5027vw, 5.9063rem);
  --fs-2: clamp(1.7077rem, 0.4493rem + 5.1627vw, 6.6445rem);
  --fs-3: clamp(1.8222rem, 0.3812rem + 5.9116vw, 7.4751rem);
  --fs-4: clamp(1.9442rem, 0.2962rem + 6.761vw, 8.4095rem);
  --fs-5: clamp(2.0745rem, 0.1918rem + 7.7241vw, 9.4607rem);
}

body{
    margin: 0;
    padding: 0;
    background: black;
}

h1, h2, h3, p{
    margin: 0;
    padding: 12px;
}

#app {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}

.spacer{
    width: 100%;
    height: 100vh;
}

.content {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

.alert{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../STORY-HS25/src/images/alert.png');
    background-position: center center;
    background-size: auto 20%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.5s ease;
}

.fade-out.disappear{
    opacity: 0;
}

.textbox{
    min-height: 20%;
    width: 50%;
    color: rgba(255, 255, 255, 1.0);
}

.textbox::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1.0);
    z-index: -1;
}

.fade-in {
    width: 0%;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
    transition: 0.5s ease-in-out, 1.5s ease-in-out;
    transition-property: color, width;
}

.fade-in.appear {
    opacity: 1;
    width: 50%;
    color: rgba(255, 255, 255, 1.0);
    transition-delay: 1.5s, 1ms, 1ms;
    transition-property: color, width;
}

.scene-menu{
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    z-index: 9998;
    font-family: sans-serif;
    cursor: default;
    overflow: hidden;
    transition: left 500ms ease;
}

.scene-menu.hide{
    left: -100vw;
    transition: left 500ms ease;
}

.scene-menu h1, .about-us h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--fs-1);
    width: fit-content;
    padding: 0;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 32px;
    margin: 0;
}

.scene-menu h2, .about-us h2, .about-us h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--fs--1);
    margin-bottom: 16px;
    width:fit-content;
    padding: 0;
    margin: 0;
}

.scene-menu button, .about-us button{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    cursor: pointer;
    color: rgba(0,0,0,1.0);
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    text-align: left;
    transition: 400ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.scene-menu button:last-of-type, .about-us button:last-of-type{
    margin-top: auto;
    padding-bottom: 40px;
}

.scene-menu button:hover{
    padding-left: 60px;
    transition: 100ms ease;
}

.scene-menu button:hover h2, .about-us button:hover h2{
    text-decoration: underline;
}

.scene-menu-toggle{
    position: fixed;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    margin: 40px;
    background-image: url('../STORY-HS25/src/images/menu-button.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    transition: transform 400ms cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-origin: center center;
}

.scene-menu-toggle:hover{
    transform-origin: center center;
    transform: scale(1.1);
    transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.scene-menu-selector{
    position: absolute;
    background-image: url('../STORY-HS25/src/images/menu-arrow.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    left: 60%;
    width: 2222px;
    height: 68px;
    opacity: 0;
    transition: 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 9999;
    pointer-events: none;
}

.about-us{
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    top: 100vh;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    z-index: 9998;
    font-family: sans-serif;
    cursor: default;
    transition: top 500ms ease;
}

.about-us.show{
    top: 0vw;
    transition: top 500ms ease;
}

.about-us h3{
    font-size: var(--fs--2);
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.about-us a{
    font-weight: 500;
    color: rgba(0,0,0,1.0);
    text-decoration: none;
}

.about-us a:hover{
    color: rgba(0,0,0,1.0);
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .scene-menu-selector{
        display: none;
    }
}